<div class="counter">
     <h1>User history</h1>
     <span><span style="font-weight:bold">{{user}},</span> has been greeted <span style="font-weight:bold">{{count}}</span> time(s).</span>
     <div class="nav">
		<a href="/greeted" class="back"><button>Back</button></a>
	</div>
</div>