<div class="greet">
    
    <form action="/greeting" method="post">
    <h7>Please enter your name below, choose your preffered language and press the button for a greeeting </h7>
    <input type="text" name="theInputName" placeholder="Enter name">
 <div class="radioInput">
      <label for=""> <input type="radio" name="languageInput" value="isiXhosa">IsiXhosa</label>
    <label for=""><input type="radio" name="languageInput" value="english">English</label>
    <label for=""><input type="radio" name="languageInput" value="isiZulu">isiZulu</label>
 </div>
  <button type="submit">Greet me!</button>
    </form>

    <div class="display">
        <p>{{theGreeting}}</p>
        <p>{{errorMessage}}</p>
        <p>{{counter}}</p>
    </div>
</div>