body{
    background-color: #edede9 !important;
}
*{
    text-align:center;
    margin-top: 1.2em;
    border-radius: 8px;
   
}
button{
    background-color: #778da9;
    border-radius: 5px !important;
    border: none !important;
}

.container{
   
    margin: 5em 18em ;
    border: 1px solid;
    width: 65% !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #d5bdaf;
}
.greeted{
    background-color: #d5bdaf;
    height: 25em !important;
   
}
.greetedName{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
   border: 1px ;
    margin: 10px;
    width: 95%;
    text-align: left !important;
    padding-left: 15px !important;
    font-size: large;
    
    
}
a{text-decoration: none !important;
    color: black !important;
    
}
.view{
    float: right !important;
    
}
.nav{
    float:right;
    position: fixed !important;
}